<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_o7ktbbklkRJYNWaeyL3zQp1VU5bTx88</string>
	<key>GCM_SENDER_ID</key>
	<string>330471669197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.guilhermeQueiroz.smartRefrigerator</string>
	<key>PROJECT_ID</key>
	<string>smart-refrigerator-9ab9d</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-refrigerator-9ab9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330471669197:ios:dfc07f16943d657c545884</string>
	<key>DATABASE_URL</key>
	<string>https://smart-refrigerator-9ab9d-default-rtdb.firebaseio.com</string>
</dict>
</plist>